html,
body {
  font-family: 'DM Sans', sans-serif;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sine-wave-background {
  width: 100%; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 400 20" preserveAspectRatio="none"><path d="M0 8 Q 25 10, 50 8 T 100 8 T 150 8 T 200 8 T 250 8 T 300 8 T 350 8 T 400 8 V20 H0 Z" fill="%23D3D9DF"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
}



.wave-background {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 300' preserveAspectRatio='none'%3E%3Cpath fill='%233E3E3E' d='M0,30 C60,90 50,120 60,150 C150,200 90,110 250,150 C550,100 250,120 300,150 C350,180 350,120 200,150 C450,180 450,120 500,150 C550,180 550,120 600,150 C650,150 950,120 700,150 C50,350 0,120 330,450 C50,180 850,160 00,150 C950,10 550,120 6000, 710 L900,300 L0,100 Z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.css-rainbow-text {
  background: linear-gradient(90deg, #f00, #ff2b00, #f50, #ff8000, #fa0, #fa0, #00d4ff, #0af, #007fff, #05f, #002bff, #00f, #2a00ff, #50f, #7f00ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
  color: #0000;
  -webkit-background-clip: text;
  background-clip: text;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 4 columns with equal width */
  grid-gap: 10px; /* Adjust the gap between grid items */
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center the grid items vertically */
}

@keyframes dropAndDisappear {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px); /* Adjust as needed */
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropping {
  animation: dropAndDisappear 1s ease forwards;
}

.fading-in {
  animation: fadeIn 3s ease forwards;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.fade-in-out {
  animation: fadeInOut 6s ease forwards;
}

.animated_rainbow_1 {
  font-size: 42px;
  font-weight: 600;
  background-image: -webkit-linear-gradient(left, #f00, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #af0, #5f0, #2bff00, #00ff2b, #00ff80, #00ffd5, #0ff, #00d4ff, #0af, #007fff, #05f, #002bff, #00f, #2a00ff, #50f, #7f00ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
  -webkit-animation: animatedBackground_a 5s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-clip: text;
}

@keyframes animatedBackground_a {
  0% { background-position: 0 0 }
  100% { background-position: -500px 0 }
}

@tailwind base;
@tailwind components;
@tailwind utilities;